* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 15px;
    height: 100vh;
    font-weight: 500;

}

.firstSection {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(autumn.jpg);
    background-size: cover;
    background-position: center;
}

.budget {
    width: 350px;
    height: 40vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px;
}

#budgetTitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

#budgetValue {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.budgetIncome,
.budgetExpenses {
    padding: 12px;
    text-transform: uppercase;
    height: 50px;
}

.budgetIncome {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budgetExpenses {
    background-color: red;
    margin-bottom:5px;
}

#incomeText,
#expensesText {
    float: left;
    font-size: 15px;
    color: #444;
}

.right {
    float: right;
}

#incomeValue,
#expensesValue {
    letter-spacing: 1px;
    font-size: 15px;
}

.secondSection {
    padding: 15px;
    background-color: #f7f7f7;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #e7e7e7;
    height: 70px;
}

#add {
    width: 50px;
    height: 40px;
    border: 1px solid #e7e7e7;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
}

#addDescription {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    width: 400px;
}

#value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    border-radius: 5px;
    width: 200px;
}

#addBtn {
    margin-left: 15px;
    border: none;
    background: none;
    cursor: pointer;
    color: #28B9B5;
    font-size: 25px;
}

.thirdSection {
    height: 310px;
}

.income-expenses {
    width: 803px;
    height: 250px;
    margin: 30px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.income {
    float: left;
    width: 350px;
    color: #28B9B5;
    margin-left: 40px;
    margin-right: 30px;   
}

.expenses {

    float: left;
    width: 350px;
    color: #FF5049;   
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.item {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
    padding-left: 3px;
}

.itemDescription {
    float: left;
}

.itemValue {
    float: left;
    transition: transform 0.3s;
}

.income .itemValue,
.income .deleteBtn {
    color: #28B9B5;
}

.expenses .itemValue,
.expenses .deleteBtn {
    color: #FF5049;
}

.itemDelete {
    float: left;
}

.deleteBtn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.deleteBtn:focus {
    outline: none;
}

.deleteBtn:active {
    transform: translateY(2px);
}

.item:hover .deleteBtn {
    display: block;
}

.item:hover .itemValue {
    transform: translateX(-20px);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
